.menu {
    padding: 0 0 0 32px;
    margin: 0;
    list-style: none;
    height: 40px;
    background: #fff url('../img/3.6.1/button1a.gif') repeat-x;
    position: relative;
    font-family: Arial, Verdana, sans-serif;
    margin-top: 50px;
}

.menu li.top {
    display: block;
    float: left;
    position: relative;
}

.menu li a.top_link {
    display: block;
    float: left;
    height: 40px;
    line-height: 33px;
    color: #bbb;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    padding: 0 0 0 12px;
    cursor: pointer;
}

.menu li a.top_link span {
    float: left;
    font-weight: bold;
    display: block;
    padding: 0 24px 0 12px; height: 40px;
}

.menu li a.top_link:hover {
    color: #000;
    background: url('../img/3.6.1/button4.gif') no-repeat;
}

.menu li a.top_link:hover span {
    background: url("../img/3.6.1/button4.gif") no-repeat right top;
}


.menu ul,
.menu :hover ul ul,
.menu :hover ul :hover ul ul;
.menu :hover ul :hover ul :hover ul ul,
.menu :hover ul :hover ul :hover ul :hover ul ul {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}